* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    ;
}

section {
    height: 500px;
    background-color: white;  
}

.hero {
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    height: 100vh;
    color: white;
    font-size: 40px;

}

footer {
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 50px;

}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 30px;
}

li {
    width: 200px;
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2{
    font-size: 60px;
}


p {
    margin: 0;
    font-size: 25px;
    font-weight: 300;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
}
.hero-area {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;

}

.button{
    width: 200px;
    height: 55px;
    border: none;
    border-radius: 40px;
    background-color:#eeaa73;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 25px;
    color: white;
    
}
.send{
    width: 200px;
    height: 55px;
    border: none;
    border-radius: 40px;
    background-color:#eeaa73;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    color: white;
}

.button:hover {
    background-color: #eecb64;
    color: white;
}
.send:hover {
    background-color: #eecb64;
    color: white;
}

.button:active {
    background-color: darkgray;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
    margin: 20px;

}

.social{
    margin: 0px;
}

.sub-section{
    display: flex;
    justify-content: space-around; 
    padding: 80px;
}

.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    

}

.headshot{
    width: 300px;
    border-radius: 50%;
    margin-bottom: 200px;
    
    
}

.headshot-container{
    display: flex;
    align-items: center;
}

.project-card{
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 20px grey;
    margin-top: 40px;
}

.project-container{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width:1000px) {
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
    .form{
        display: flex;
        flex-wrap: wrap;
    }
    .form-text{
        display: flex;
        flex-wrap: wrap;
    } 
}

.project-images{
    margin-top: 25px;
    width: 230px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

.project-link{
    text-decoration:none;
    color: blue;
}

a{
    text-decoration: none;
    color: white;
}

.form{
    height: 30px;
    width: 500px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 350px;
}

.form-text{
    height: 150px;
    width: 500px;
    margin-top: 10px;
    margin-left: 350px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

.icons1{
  display: grid;
  grid-template-columns: auto auto auto auto;




   
}